@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50%);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes slide-right-to-left {
  from {
    transform: translateX(50%)
  }
  to {
    transform: translateX(0)
  }
}

@keyframes slide-left-to-right {
  from {
    transform: translateX(-50%)
  }
  to {
    transform: translateX(0)
  }
}

.slideIn {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.slide-right-to-left {
  animation-name: slide-right-to-left;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.slide-left-to-right {
  animation-name: slide-left-to-right;
  animation-duration: 1s;
  animation-timing-function: ease;
}